body {
    --background-body: #f9f9f9;
    --text-main: #444444;
    --text-muted: #888888;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-body: #444444;
        --text-main: #f9f9f9;
        --text-muted: #cacaca;
    }
}



/* Basic Reset and Font Settings */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: var(--text-main);
    /* Dark grey text for contrast */
    background-color: var(--background-body);
    /* Pure white background */
    padding: 20px 80px;
    /* Larger horizontal padding */
}

/* Header Styling */
header {
    padding: 2rem 0;
    /* text-align: center; */
    /* text-align: center; */
}

header h1 {
    margin: 0;
    font-size: 30px;
    display: grid;
    place-content: center;
    place-items: center;
    /* 行列の自動配置方向を列方向にする */
    grid-auto-flow: column;
}

header .logo {
    width: 30px;
    height: 30px;
}

/* Navigation Bar Styling */
nav ul {
    list-style: none;
    padding: 0;
    /* text-align: center; */
    text-align: right;
    /* Center align nav items */
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: var(--text-main);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--text-muted);
    /* Slightly lighter grey for hover state */
}

/* Section Styling */
section {
    padding: 40px 0;
    /* Larger vertical padding */
}

/* Footer Styling */
footer {
    text-align: left;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left,
.footer-right {
    padding: 0 15px;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    padding: 1rem 1rem 1rem 0rem;
}

footer a:hover {
    text-decoration: none;
}


/* Media Queries */
@media (max-width: 800px) {
    body {
        padding: 20px 40px;
        /* Smaller horizontal padding for smaller screens */
    }
}

@media (max-width: 600px) {
    body {
        padding: 20px;
        /* Even smaller padding for very small screens */
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}